@charset "utf-8";
/* 全体 */
.wrapper {
    max-width: 350px;
    margin-left: 20px;
    color: black;
}

#header {
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 1rem 0 0;
    font-weight: 100;
}

/* カレンダー */
#calendar {
    text-align: center;
    width: 100%;
    margin-top: -20px;
}

table {
    outline: 2px solid #eaf2e3;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #000;
    /* 曜日部分 */
}

th, td {
    outline: 1px solid #eaf2e3;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 30%;
}

td {
    text-align: left;
}

/* 日曜日 */
td:first-child {
    color: #f25757;
}

/* 土曜日 */
td:last-child {
    color: #61e8e1;
}

/* 前後月の日付 */
td.disabled {
    color: #ccc;
}

/* 本日 */
td.today {
    background-color: #f25757;
    color: white;
}

/* ボタン */
#next-prev-button {
    position: relative;
}

#next-prev-button button {
    cursor: pointer;
    background: #f2cd60;
    color: black;
    border: 1px solid #f2cd60;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    margin-top: -2px;
}

#next-prev-button button:hover {
    background-color: #f2cd60;
    border-color: #f2cd60;
}

#prev {
    float: left;
}

#next {
    float: right;
}
